
.post {
  width: 80%;
  padding: 3px;
  margin: 10px auto 0 auto;
  background-color:rgba(146, 181, 227, 0.674);
  margin-top: 10px;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
}